*{
	margin: 0;
	padding: 0;
}

body {
	background-image: url("images/background1.jpg");
	background-repeat: no-repeat;
    background-size: cover;
	/*background-color: #f2a9a9;*/
}

	.nav { 
	text-align: center;
/*	background-color: pink;*/
	/*position: fixed;*/
	top: 0;
	left: 0;
	/*right: 0;*/
	font-family: 'Press Start 2P', cursive;
	font-size: 22px;
	font-weight: bold;
/*	height: 35px;*/
	/*font-family: 'Pangolin', cursive;*/			
	}

	.nav ul {
	margin: auto;
	padding: 10px;
}

	.nav ul li{
	display: inline;
	list-style: none;
	padding: 60px;
}
	
	.nav ul li a{
	text-decoration: none;
	color: black;
}

.page_content_home{
	font-family: 'Press Start 2P', cursive;
	font-size: 18px;
	margin-left: auto;
    margin-right: auto;
}

.page_content_contact{
	/*background-image: url("images/background2.gif");
	background-repeat: no-repeat;
    background-size: cover;*/

	font-family: 'Press Start 2P', cursive;
	font-size: 18px;
	margin-left: auto;
    margin-right: auto;
    /*position: relative;
    top: -10px;*/
}

.page_content_contact img{
	margin-left: 700px;
	height: 500px;
	width: 500px;
	border-radius: 100%
}

.page_content_about{
	font-family: 'Press Start 2P', cursive;
	font-size: 18px;
	margin-left: auto;
    margin-right: auto;
}
    


